body {
    background-color: lightgrey;
}

#content {
    font-size: 14pt;
    width: 60vw;
    margin: auto;
    height: 70vh;
    overflow-y: scroll;
    background-color: lightblue;
}

#interface {
    height: 10vh;
    width: 100%;
    font-size: 10pt;
    background-color: burlywood;
}

.center {
    text-align: center;
}