body {
    background-color: lightgrey;
}

#content {
    font-size: 14pt;
    width: 60vw;
    margin: auto;
    height: 70vh;
    overflow-y: scroll;
    background-color: lightblue;
}

#interface {
    height: 14vh;
    width: 100%;
    font-size: 10pt;
    background-color: burlywood;
    display: grid;
    grid-template-columns: 130px 150px repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
}

#interface #btnRegenerate,
#btnPrepend,
#btnAppend {
    font-size: 14pt;
}

#interface #btnRegenerate {
    grid-column: 1 /2;
    grid-row: 1 / 2;
}

#interface #btnAppend {
    grid-column: 1 /2;
    grid-row: 2 / 3;
}

#interface #btnPrepend {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#interface #lblGenerationMode,
#lblBlockCount {
    font-size: 10pt;
    align-items: center;
    justify-items: center;
    display: flex;
    text-transform: uppercase;
}

#interface #lblBlockType {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#interface #lblBlockCount {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

#interface #lblGenerationMode {
    grid-column: 2/4;
    grid-row: 1/2;
}

#interface #selGenerationMode {
    grid-column: 2/4;
    grid-row: 2/3;
}

#interface #divGenerationSubMode {
    grid-column: 2/4;
    grid-row: 3/4;
}

#interface #divGenerationSubMode select {
    height: 100%;
    width: 100%;
}

#interface #divGenerationSubMode select {
    display: none;
}

#interface #divGenerationSubMode[data-genMode="normal"] #selNormalSubMode {
    display: block;
}

#interface #divGenerationSubMode[data-genMode="list"] #selListSubMode {
    display: block;
}

#interface #numBlockCount {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.center {
    text-align: center;
}

#interface button {
    background-color: white;
    border: white solid 5px;
    margin: 5px;
}

#interface button:hover {
    background-color: black;
    color: white;
}